@import "tailwindcss";
* {
  box-sizing: border-box;
  
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: #fff;
  height: 100%;
  width: 100%;
  
}
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
